<a href="https://colab.research.google.com/github/financieras/pyCourse/blob/main/jupyter/calisto1/0050_formateando_cadenas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Formateando Cadenas (Strings)


## Sistema antiguo con ```%s```

In [1]:
print("La capital de %s es %s"%("Lituania", "Vilna"))

La capital de Lituania es Vilna

## Usando ```format```

In [2]:
edad = 10
print('Cuando tenía {} años media {} cm.'.format(edad, 140))

Cuando tenía 10 años media 140 cm.

In [3]:
print("La suma de {} más {} es igual a {}".format(2, 3, 2+3))

La suma de 2 más 3 es igual a 5

In [4]:
texto = "El producto de {} y {} es {}"
print(texto.format(5, 4, 20))

El producto de 5 y 4 es 20

In [5]:
nombre = "Luis"
apellido = "Olmo"
print("Me llamo {} {}".format(nombre, apellido))

Me llamo Luis Olmo

In [6]:
nombre = "Ana"
apellido = "Vega"
texto = "Me llamo {0} {1} pero llámame simplemente {0}"
print(texto.format(nombre, apellido))                           # el primero es el de índice 0

Me llamo Ana Vega pero llámame simplemente Ana

In [7]:
texto = "El {b} y la {a}"
print(texto.format(a = "Luna", b = "Sol"))

El Sol y la Luna

In [8]:
nombre = "Juan"
edad = 24
print("Nuestro amigo {} cumple {} años".format(nombre,edad))

Nuestro amigo Juan cumple 24 años

In [9]:
print("Para conseguir tu objetivo necesitas tres cosas: {m}, {m} y {m}.".format(m='motivación'))

Para conseguir tu objetivo necesitas tres cosas: motivación, motivación y motivación.

## El sistema ```f```

In [10]:
nombre = "Juan"
edad = 24
print(f"Nuestro amigo {nombre} cumple {edad} años")

Nuestro amigo Juan cumple 24 años

In [11]:
x = 4
y = 6
z = x + y
print(f"La suma de {x} más {y} es igual a {z}")

La suma de 4 más 6 es igual a 10

Podemos realizar operaciones en las llaves, dentro de las comillas.

In [12]:
print(f'El área es {2*4}')

El área es 8

### Invocando funciones
Incluso podemos invocar funciones dentro de las comillas.

In [13]:
def doblar(n):
  return 2*n

print(f"El doble de 9 es {doblar(9)}")

El doble de 9 es 18