<a href="https://colab.research.google.com/github/financieras/pyCourse/blob/main/jupyter/calisto1/0340_operadores_de_identidad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operadores de identidad: ```is```, ```is not```

Vemos que a y b son números enteros del mismo valor, por lo que son tanto iguales como idénticos.

In [1]:
a = 5                  # con números
b = 5
a is b                 # a y b son idénticos = iguales y además del mismo tipo

True

In [2]:
a = 5.0
b = 5
a is b                 # a y b ahora ya no son idénticos, ya que son iguales pero no del mismo tipo

False

In [3]:
a == b

True

Vemos que c y d son strings iguales y por lo tanto idénticos.

In [4]:
c = "azul"             # con strings
d = "azul"
c is d

True

In [5]:
c == d

True

In [6]:
x = "Madrid"
y = "madrid"
x is not y

True

In [7]:
x != y

True

Con listas hemos de tener cuidado ya que iguales no significa idénticos ya que dos listas ocupan distinto lugar en la memoria del ordenador.

In [8]:
list1 = [1,2,3]        # con listas
list2 = [1,2,3]
list1 == list2

True

Con listas el intérprete las ubica por separado en la memoria, aunque son iguales.

In [9]:
list1 is list2         # Las listas 1 y 2 no son idénticas ya que ocupan distinto lugar en la memoria RAM

False

In [10]:
meses1 = ['ene', 'feb', 'mar' ]
meses2 = meses1              #al hacer meses2=meses1 se hace una copia idéntica que ocupa el mismo lugar de memoria
meses2

['ene', 'feb', 'mar']

In [11]:
meses1.append('abr')
meses1

['ene', 'feb', 'mar', 'abr']

In [12]:
meses2 is meses1            # SORPRESA ahora ambas listas son idénticas

True

Veamos como copiar una lista sin que la copia se idéntica.

In [13]:
dias1 = ['lun', 'mar', 'mie']
dias2 = dias1[:]             # ahora dias2 es una lista igual que dias1 pero independiente, distinta memoria
dias2

['lun', 'mar', 'mie']

In [14]:
dias2 is dias1

False

In [15]:
dias1.append('jue')          # añadimos un elemento más a la lista dias1
dias1

['lun', 'mar', 'mie', 'jue']

In [16]:
dias2                        # podemos comprobar que la lista dias2 es independiente, no se añade el jueves

['lun', 'mar', 'mie']

# all, not all, any

In [17]:
all([True, True, True])        # si todos son verdad da verdadero

True

In [18]:
all({True, True, True})        # también funciona con conjuntos (set)

True

In [19]:
all((True, True, True))        # también funciona con tuplas

True

In [20]:
not all([True, True, True])    # False

False

In [21]:
not all([True, True, False])   # True

True

In [22]:
any([False, True, False])      # si alguno es verdadero da verdadero

True

In [23]:
any([False, False, False])     # solo da False si todos lo son

False

### Ejemplo
Generar una lista de 5 x 2 (filas x columnas) donde sus elementos contienen números aleatorios entre 1 y 9.

In [24]:
from random import randint as rnd

l = [[rnd(1,10), rnd(1,10)] for i in range(5)]
l

[[10, 8], [1, 7], [2, 6], [9, 2], [9, 10]]

Crear una tercera columna que indique si el primero es mayor (flag==1), o bien menor o igual (flag==0) que el segundo.

In [25]:
for i in range(len(l)):
    if l[i][0] > l[i][1]: l[i] = l[i] + [1]
    else: l[i] = l[i] + [0]
l

[[10, 8, 1], [1, 7, 0], [2, 6, 0], [9, 2, 1], [9, 10, 0]]

Si todas las banderas (flag) son 1 (True) imprimir "El Objetivo si se ha conseguido"

In [26]:
all(flag == 1 for (_, _, flag) in l)    # así detectamos que todas las banderas son 1

False

In [27]:
all([x[2] == 1 for x in l])             # otra forma de detectarlo

False