<a href="https://colab.research.google.com/github/financieras/pyCourse/blob/main/jupyter/calisto1/0365_casos_con_bucles_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Casos con Bucles `For`

## Múltiplos

Lista los números del 1 al 100, los dos incluidos, separados por salto de linea.
* En caso de que el numero sea divisor de 4 escribir en su lugar "Buzz".
* En caso de que el numero sea divisor de 7 escribir en su lugar "Fizz".
* Si el numero es divisor de tanto 7 como 4, escribir en su lugar "FizzBuzz".

### Método 1

In [1]:
for i in range(1,101):
    if i%4==0 and i%7==0:
        print("FizzBuzz")
    elif i%4==0:
        print("Buzz")
    elif i%7==0:
        print("Fizz")
    else:
        print(i)

1
2
3
Buzz
5
6
Fizz
Buzz
9
10
11
Buzz
13
Fizz
15
Buzz
17
18
19
Buzz
Fizz
22
23
Buzz
25
26
27
FizzBuzz
29
30
31
Buzz
33
34
Fizz
Buzz
37
38
39
Buzz
41
Fizz
43
Buzz
45
46
47
Buzz
Fizz
50
51
Buzz
53
54
55
FizzBuzz
57
58
59
Buzz
61
62
Fizz
Buzz
65
66
67
Buzz
69
Fizz
71
Buzz
73
74
75
Buzz
Fizz
78
79
Buzz
81
82
83
FizzBuzz
85
86
87
Buzz
89
90
Fizz
Buzz
93
94
95
Buzz
97
Fizz
99
Buzz

### Método 2

In [2]:
for i in range(1,101):
    if not i%28:            # múltiplos de 4*7=28
        print("FizzBuzz")
    elif not i%4:
        print("Buzz")
    elif not i%7:
        print("Fizz")
    else:
        print(i)

1
2
3
Buzz
5
6
Fizz
Buzz
9
10
11
Buzz
13
Fizz
15
Buzz
17
18
19
Buzz
Fizz
22
23
Buzz
25
26
27
FizzBuzz
29
30
31
Buzz
33
34
Fizz
Buzz
37
38
39
Buzz
41
Fizz
43
Buzz
45
46
47
Buzz
Fizz
50
51
Buzz
53
54
55
FizzBuzz
57
58
59
Buzz
61
62
Fizz
Buzz
65
66
67
Buzz
69
Fizz
71
Buzz
73
74
75
Buzz
Fizz
78
79
Buzz
81
82
83
FizzBuzz
85
86
87
Buzz
89
90
Fizz
Buzz
93
94
95
Buzz
97
Fizz
99
Buzz

## Sucesión de Fibonacci
Es una sucesión de infinitos números donde los dos primeros números son 0 y 1 y el resto se contruye sumando los dos anteriores.

In [3]:
def fibo(n):   # para n>=3
    a, b = 0, 1
    for i in range(3, n+1):
        c = a + b
        a = b
        b = c
    return(c)

[0,1]+[fibo(i) for i in range(3,20)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584]