<a href="https://colab.research.google.com/github/financieras/pyCourse/blob/main/jupyter/calisto1/0400_listas_con_estructuras1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listas con estructuras [1]

Partimos de una lista de elementos.

In [1]:
colores = ['verde', 'rojo', 'azul', 'rosa']

## Deseamos recorrer la lista con un ```for```

In [2]:
for color in colores:
    print(color)

verde
rojo
azul
rosa

### Recorriendo la lista de forma inversa
Podemos dar la vuelta a una lista y luego recorrerla.

#### Método 1: con reversed()

In [3]:
for color in reversed(colores):
    print(color)

rosa
azul
rojo
verde

#### Método 2: con lista[::-1]

In [4]:
for color in colores[::-1]:
    print(color)

rosa
azul
rojo
verde

### Llamando a cada elemento de la lista por su índice

In [5]:
for i in range(len(colores)):
    print(i, colores[i])

0 verde
1 rojo
2 azul
3 rosa

### También se puede usar un ```while```

In [6]:
i = 0
while i < len(colores):
    print('Pintar en:', colores[i])
    i += 1

Pintar en: verde
Pintar en: rojo
Pintar en: azul
Pintar en: rosa

## Alterar el valor de una lista
No es posible alterar el valor de los elementos de una lista al vuelo.

In [7]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for numero in numeros:
    numero *= 10

numeros
# no hemos conseguido alterar los valores de la lista números
# ya que la variable número dentro del for es una variable local

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Ahora si vamos a conseguir alterar el valor de los elementos de la lista números llamándolos por su índice.  
Para ello creamos un índice externo.

In [8]:
i = 0                                   # índice externo
for numero in numeros:
    numeros[i] *= 10
    i += 1

numeros                               # así conseguimos multiplicar por 10 todos los elementos de la lista números

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

Python nos permite disponer del método ```enumerate``` que nos ayudará a conseguir esto sin necesidad de índice externo.

## El método ```enumerate```

In [9]:
numeros = [1,2,3,4,5,6,7,8,9,10]

for i, numero in enumerate(numeros):  # i es el índice
    numeros[i] *= 10

numeros                               # así conseguimos multiplicar por 10 todos los elementos de la lista números

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

```enumerate()``` es un método que nos ayuda a llevar el recuento de los elementos de un iterable.  
Agrega un contador a un iterable y lo devuelve en forma de objeto enumerado. Este objeto enumerado se puede usar directamente en bucles ```for``` o convertirse en una lista de tuplas usando el método ```list()```.

### El objeto enumerate

```enumerate()``` es un objeto de tipo enumerate.

In [10]:
enumerate(range(5))

In [11]:
type(enumerate(range(5)))

enumerate

Podemos convertir el objeto enumerate en una lista de tuplas (índice, valor).

In [12]:
list(enumerate(range(10,20,2)))

[(0, 10), (1, 12), (2, 14), (3, 16), (4, 18)]

### ```enumerate``` con una lista

In [13]:
lista = ['Berlín', 'París', 'Roma', 'Londres']
print(type(enumerate(lista)))
print(enumerate(lista))
print(list(enumerate(lista)))

<class 'enumerate'>
<enumerate object at 0x7980b5a133c0>
[(0, 'Berlín'), (1, 'París'), (2, 'Roma'), (3, 'Londres')]

### ```enumerate``` con un string

In [14]:
palabra = 'Madrid'
print(type(enumerate(palabra)))
print(enumerate(palabra))
print(list(enumerate(palabra)))

<class 'enumerate'>
<enumerate object at 0x7980b5a29600>
[(0, 'M'), (1, 'a'), (2, 'd'), (3, 'r'), (4, 'i'), (5, 'd')]

### ```enumerate``` iterado en un ```for```

In [15]:
lista = ['Berlín', 'París', 'Roma', 'Londres']
for elemento in lista:
    print(elemento)

Berlín
París
Roma
Londres

#### Imprimiendo por separado índice y valor  
Con ```enumerate``` en un ```for``` podemos obtener en cada iteración el índice y el valor de cada elemento de la lista.

In [16]:
for i,v in enumerate(lista):             # i: índice, v: valor
    print (i,v)

0 Berlín
1 París
2 Roma
3 Londres

#### También podemos cambiar el contador

In [17]:
for contador,valor in enumerate(lista,10):
    print (contador, valor)

10 Berlín
11 París
12 Roma
13 Londres

### Podemos meter en una lista las tuplas formadas por contador y valor

In [18]:
print(list(enumerate(lista,1)))
print(type(list(enumerate(lista,1))[0]))    # El primer elemento de la list es una tupla

[(1, 'Berlín'), (2, 'París'), (3, 'Roma'), (4, 'Londres')]
<class 'tuple'>

## Las cadenas son inmutables
No se pueden cambiar los valores de los caracteres de un string al vuelo.  
El siguiente código da error.  
Queremos cambiar las vocales por asteriscos en una frase.

In [19]:
saludo = 'Buenas tardes'

'''                                         # comentamos el bucle para evitar el ERROR
for i,c in enumerate(saludo):               # c recorre todos los caracteres de la frase
    if c in ('a', 'e', 'i', 'o', 'u'):
        saludo[i] = '*'
'''

saludo                                      # TypeError: 'str' object does not support item assignment
                                            # Las cadenas son inmutables

'Buenas tardes'

Podemos conseguir nuestro objetivo y cambiar las vocales por asteriscos en una frase, creando una nueva frase destino.

In [20]:
saludo = 'Buenas tardes'
saludo2 = ''
for i,c in enumerate(saludo):               # c recorre todos los caracteres de la frase
    if c in ('a', 'e', 'i', 'o', 'u'):
        saludo2 += '*'
    else:
        saludo2 += saludo[i]

saludo2

'B**n*s t*rd*s'

Ahora queremos duplicar los caracteres de una frase.

In [21]:
saludo = 'Buenas tardes'
saludo2 = ''
for c in saludo:                            # c recorre todos los caracteres de la frase
    saludo2 += c * 2

saludo2

'BBuueennaass  ttaarrddeess'

### Ejemplo
Pedir al usuario un número entero n, entre 1 y 9, ambos incluidos.  
Listar los múltiplos de n hasta 100.

In [22]:
while True:
    n = int(input('Introduzca un número entero entre 1 y 9: '))
    if 0 < n <= 9:
        print(f'Los múltiplos de {n} hasta 100 son:')
        print(list(range(n, 101, n)))
    else:
        break

Introduzca un número entero entre 1 y 9: 9
Los múltiplos de 9 hasta 100 son:
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99]
Introduzca un número entero entre 1 y 9: 11