<a href="https://colab.research.google.com/github/financieras/pyCourse/blob/main/jupyter/calisto1/0510_diccionarios_con_estructuras.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Diccionarios con estructuras

In [1]:
edades = {'Ana':20,'Jose':23,'Luis':28,'Marta':17}

for key in edades.keys():       #keys() Da una lista con las claves del diccionario
    print(key)

Ana
Jose
Luis
Marta

In [2]:
for value in edades.values():   #values() Da una lista con los valores del diccionario
    print(value)

20
23
28
17

In [3]:
for item in edades.items():      #items() Da una lista con tupla para cada par clave-valor
    print(item)

('Ana', 20)
('Jose', 23)
('Luis', 28)
('Marta', 17)

In [4]:
for k,v in edades.items():
    print("{} tiene {} años.".format(k,v))

Ana tiene 20 años.
Jose tiene 23 años.
Luis tiene 28 años.
Marta tiene 17 años.

## Lista de diccionarios

In [5]:
m = {"nombre":"Mercadona", "facturación":23344, "sector":"comercio", "sede":"Valencia"}
r = {"nombre":"Repsol", "facturación":21271, "sector":"refino", "sede":"Madrid"}
c = {"nombre":"CEPSA", "facturación":18307, "sector":"refino", "sede":"Madrid"}
i = {"nombre":"Inditex", "facturación":18261, "sector":"textil", "sede":"Coruña"}

empresas = [m,r,c,i]
empresas

[{'nombre': 'Mercadona',
  'facturación': 23344,
  'sector': 'comercio',
  'sede': 'Valencia'},
 {'nombre': 'Repsol',
  'facturación': 21271,
  'sector': 'refino',
  'sede': 'Madrid'},
 {'nombre': 'CEPSA',
  'facturación': 18307,
  'sector': 'refino',
  'sede': 'Madrid'},
 {'nombre': 'Inditex',
  'facturación': 18261,
  'sector': 'textil',
  'sede': 'Coruña'}]

La salida anterior tiene formato de fichero JSON. Podemos visualizarlo un poco mejor en páginas como:  
[http://jsonviewer.stack.hu](http://jsonviewer.stack.hu)  
Podemos validar el formato JSON en la siguiente página:  
[https://jsonformatter.curiousconcept.com](https://jsonformatter.curiousconcept.com)

In [6]:
for empresa in empresas:                                         # con un for imprimimos los valores
    print(empresa['nombre'],empresa['sector'],empresa['sede'])

Mercadona comercio Valencia
Repsol refino Madrid
CEPSA refino Madrid
Inditex textil Coruña

### Mostrando valores con tabulate
Existe una librería que nos permite imprimir dando un formato de tabla.  
Posiblemente tengamos que instalar la librería con el gestor de paquetes **pip**.

In [7]:
# instalando la librería tabulate con pip
!pip install tabulate   # o bien con:  !apt install pip   # para un sistema Linux tipo Debian
# instalando la librería tabulate con conda, si estamos trabajando con Anaconda
#conda install tabulate

Requirement already satisfied: tabulate in /usr/local/lib/python3.10/dist-packages (0.9.0)

In [8]:
from tabulate import tabulate

print(tabulate(empresas))

---------  -----  --------  --------
Mercadona  23344  comercio  Valencia
Repsol     21271  refino    Madrid
CEPSA      18307  refino    Madrid
Inditex    18261  textil    Coruña
---------  -----  --------  --------

#### Mostrando la cabecera

In [9]:
header = empresas[0].keys()
rows =  [x.values() for x in empresas]
print(tabulate(rows, header))

nombre       facturación  sector    sede
---------  -------------  --------  --------
Mercadona          23344  comercio  Valencia
Repsol             21271  refino    Madrid
CEPSA              18307  refino    Madrid
Inditex            18261  textil    Coruña

### Usando Pandas
Pandas es una potente librería muy utilizada para el manejo de dataset.  
En esta ocasión vamos a mostrar los datos en forma de DataFrame.

In [10]:
import pandas as pd

pd.DataFrame(empresas)                # empresas es el dataset

      nombre  facturación    sector      sede
0  Mercadona        23344  comercio  Valencia
1     Repsol        21271    refino    Madrid
2      CEPSA        18307    refino    Madrid
3    Inditex        18261    textil    Coruña

### Ejercicio
Investigar la importancia de los formatos **JSON** en:
- el tratamiento de datos
- la compartición de información entre aplicaciones
- las bases de datos no relacionales (noSQL), ejemplo MongoDB, que usa BSON, similar a JSON pero admite binarios  
¿Se podría convertir una tabla disponible en Excel en un fichero JSON?