<a href="https://colab.research.google.com/github/financieras/pyCourse/blob/main/jupyter/calisto1/0770_funciones_lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Funciones ```lambda```
* También conocidas como **funciones anónimas** porque se definen sin un nombre
* No se usa ```def``` se usa ```lambda```
* Sintaxis ```lambda parámetros: expresión```
* Parámetros: se admiten múltiples parámetros
* Expresión:
 - se admite una única expresión
 - la expresión es evaluada y devuelta
* Se suelen usar en combinación con otras funciones, como argumento de otra función

## Función para elevar al cuadrado
### Función con ```def```

In [ ]:
def cuadrado(x):
    return x**2

print(cuadrado(5))

25

### Función ```lambda```

In [ ]:
cuadrado = lambda x: x**2
print(cuadrado(5))

25

## Función ```lambda``` para sumar dos números

In [ ]:
sumar = lambda a,b: a+b

sumar(7,3)

10

## Función ```lambda``` para revertir una cadena

In [ ]:
revertir = lambda cadena: cadena[::-1]

revertir("sogima")

'amigos'

## Funciones ```lambda``` que detectan si un número es par o impar

In [ ]:
par = lambda n: n%2==0
impar = lambda n: bool(n%2)

print(par(4))
print(par(5))
print(impar(4))
print(impar(5))

True
False
False
True

## Función que calcula el área de un triángulo
### Función ```lambda```
* Podemos convertir funciones `def` sencillas en funciones `lambda`.
* Si la función `def` fuera muy compleja no se podría.
* Calcular el área de un triángulo requiere una función sencilla.

In [ ]:
area_triangulo = lambda base,altura: base*altura/2
print(area_triangulo(20,5))

50.0

## Funciones ```lambda``` usadas junto a otras funciones
### Uso de ```lambda``` con ```map()```
* La función ```map()``` aplica una función a cada uno de los elementos de una lista.
* Sintaxis:  map(función, lista)
* Ejemplo: dada una lista de números obtener otra lista con sus cuadrados

#### Método largo sin `map()`

In [ ]:
l = list(range(1,10))               # lista con los números del 1 al 9
c = []                              # lista con los cuadrados

for i in l:
    c.append(i**2)

print(c)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

#### Método largo con `map()`
* La sintaxis de `map`es:
  - `map(función, iter)`
  - Lo que hace `map` es pasar por la función cada uno de los elementos de ìter` que es un iterable, por ejemplo una lista, tupla, diccionario, range.
  - Los objetos iterables son aquellos que podemos recorrer usando un ciclo, entre ellos, las cadenas de texto o estructuras de datos como las listas, las tuplas o los diccionarios
* Para imprimir el objeto `map` es necesario anteponer `print`.

In [ ]:
def cuadrado(n):
    return n**2

list(map(cuadrado, range(1,10)))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

#### Método con función ```lambda```

In [ ]:
l = list(range(1,10))               # lista con los números del 1 al 9

c = list(map(lambda x : x**2, l))   # lista con los cuadrados

print(c)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

### Uso de ```lambda``` con ```filter```
* La función `filter()` filtra una lista de elementos para los que una función devuelve `True`
* Sintaxis:  `filter(función, lista)`
* Ejemplo: dada una lista de números filtrarla para obtener una lista con los pares

#### Método largo

In [ ]:
valores = [1, 2, 3, 4, 5, 6, 7, 8, 9]
pares = []

for valor in valores:
    if valor%2 == 0:
        pares.append(valor)

print(pares)

[2, 4, 6, 8]

#### Método con función ```lambda```

In [ ]:
valores = [1, 2, 3, 4, 5, 6, 7, 8, 9]

pares = list(filter(lambda x : x%2==0, valores))

print(pares)

[2, 4, 6, 8]

### Uso de ```lambda``` con ```reduce```
* Permite un cálculo acumulado de una lista de valores
* Ejemplo: sumar los números del 1 al 100

#### Método largo

In [ ]:
numeros = list(range(1,101))
suma = 0

for i in numeros:
    suma += i

print(suma)

5050

#### Método con función ```lambda```
<img src="https://github.com/financieras/pyCourse/blob/main/jupyter/img/reduce.png?raw=1" alt="Cómo funciona la función reduce" width="400">

* Se va realizado la suma acumulativa
* (((((1 + 2) + 3) + 4) + 5) + 6) + 7 = 28

In [ ]:
from functools import reduce          # la función reduce pertenece a la librería functools
numeros = list(range(1,101))

suma = reduce(lambda x, y:x+y, numeros)

print(suma)

5050