<a href="https://colab.research.google.com/github/financieras/pyCourse/blob/main/jupyter/calisto1/0790_funcion_map.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# La función `map`
La función map () devuelve un objeto de mapa (que es un iterador) de los resultados después de aplicar la función dada a cada elemento de un iterable dado (lista, tupla, etc.)

`map(fun, iter)`

* `fun`: Es una función a la que map pasa cada elemento de iterable dado.
* `iter` : Es un iterable que se va a mapear.

## Ejemplo 1 Duplicar
*La función `duplicar` toma un número como argumento y devuelve el número multiplicado por 2.
* Luego, utilizamos la función `map` para aplicar la función `duplicar` a cada elemento de la lista `numeros`.
* Finalmente, convertimos el resultado en una lista y lo imprimimos.
* El resultado será `[2, 4, 6, 8, 10]`, ya que cada número de la lista original se duplica.

In [2]:
# Definir una función para duplicar un número
def duplicar(numero):
    return numero * 2

# Crear una lista de números
numeros = [1, 2, 3, 4, 5]

# Aplicar la función duplicar a cada elemento de la lista usando map
resultado = list(map(duplicar, numeros))

# Imprimir el resultado
print(resultado)

[2, 4, 6, 8, 10]

## Ejemplo 2. Strint to Integer
* Convertir una lista de cadenas en una lista de enteros.
* Tenemos una lista de cadenas numéricas.
* Utilizamos la función `map` junto con la función `int` para convertir cada cadena en un entero.
* Luego, convertimos el resultado en una lista y lo imprimimos.
* El resultado será `[1, 2, 3, 4, 5]`, ya que cada cadena numérica se convierte en su correspondiente entero.

In [3]:
# Crear una lista de cadenas numéricas
cadenas_numericas = ["1", "2", "3", "4", "5"]

# Utilizar map para convertir las cadenas en enteros
numeros = list(map(int, cadenas_numericas))

# Imprimir la lista de enteros
print(numeros)

[1, 2, 3, 4, 5]

## Ejemplo 3. `map` usando una función `lambda`
* Utilizamos la función `map` junto con una función `lambda` para elevar al cuadrado cada número de la lista numeros.
* La función `lambda` toma un argumento `x` y devuelve `x**2`, es decir, el número elevado al cuadrado.
* Luego, convertimos el resultado en una lista y lo imprimimos.
* El resultado será `[1, 4, 9, 16, 25]`, ya que cada número de la lista original se eleva al cuadrado.

In [4]:
# Crear una lista de números
numeros = [1, 2, 3, 4, 5, 6]

# Utilizar map con una función lambda para elevar al cuadrado cada número
resultado = list(map(lambda x: x**2, numeros))

# Imprimir el resultado
print(resultado)

[1, 4, 9, 16, 25, 36]

## Ejemplo 4. Combinar dos listas utilizando una función `lambda`
* En este caso usamos dos iterables.
* Utilizamos la función `map` junto con una función `lambda` para sumar los elementos correspondientes de las listas `numeros1` y `numeros2`.
* La función `lambda` toma dos argumentos `x` e `y` y devuelve `x + y`, es decir, la suma de los dos números.
* Luego, convertimos el resultado en una lista y lo imprimimos.
* El resultado será `[11, 22, 33, 44, 55]`, ya que se suman los elementos correspondientes de ambas listas.

In [5]:
# Crear dos listas de números
numeros1 = [1, 2, 3, 4, 5]
numeros2 = [10, 20, 30, 40, 50]

# Utilizar map con una función lambda para sumar los elementos correspondientes de ambas listas
resultado = list(map(lambda x, y: x + y, numeros1, numeros2))

# Imprimir el resultado
print(resultado)

[11, 22, 33, 44, 55]

## Ejemplo 5 Convertir una cadena a mayúsculas
* Utiliza la función `map` junto con `join` para concatenar una lista de cadenas en una sola cadena.
* Utilizamos la función `map` junto con `str.upper` para convertir cada cadena en mayúsculas.
* Luego, utilizamos `join` para concatenar las cadenas en una sola cadena, separadas por espacios.
* El resultado será "HOLA MUNDO ! ESTO ES UN EJEMPLO", ya que todas las cadenas se convierten a mayúsculas y se unen en una sola cadena separada por espacios.

In [6]:
# Crear una lista de cadenas
cadenas = ["Hola", "mundo", "!", "Esto", "es", "un", "ejemplo"]

# Utilizar map para convertir cada cadena en mayúsculas
cadenas_mayusculas = map(str.upper, cadenas)

# Utilizar join para concatenar las cadenas en una sola cadena separada por espacios
resultado = " ".join(cadenas_mayusculas)

# Imprimir el resultado
print(resultado)

HOLA MUNDO ! ESTO ES UN EJEMPLO

## Ejemplo 6 `map` con `chr`
* Utiliza la función `map` junto con `chr` para convertir una lista de números en una lista de caracteres Unicode.
* Luego, utilizamos `join` para unir los caracteres en una sola cadena.
* El resultado será "Hola mundo!", ya que los números en la lista corresponden a los caracteres Unicode de esa frase.

In [7]:
# Crear una lista de números correspondientes a los caracteres Unicode de "Hola mundo!"
numeros = [72, 111, 108, 97, 32, 109, 117, 110, 100, 111, 33]

# Utilizar map con chr para convertir los números en caracteres Unicode
caracteres = list(map(chr, numeros))

# Unir los caracteres en una sola cadena
resultado = ''.join(caracteres)

# Imprimir el resultado
print(resultado)

Hola mundo!