<a href="https://colab.research.google.com/github/financieras/pyCourse/blob/main/jupyter/calisto1_0040.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cadenas (Strings)

In [ ]:
"hola"            # directamente en el intérprete de Python

In [ ]:
print("Hola")     # usando print

## Repetir expresiones

In [ ]:
"hi" * 3          # repetir expresiones

In [ ]:
print("Bienvenidos")
print("="*30)
print("Fin del progama")

## Concatenar expresiones

In [ ]:
"hola" + "mundo"  # concatenar

In [ ]:
print("hola" + " " + "mundo")

## Asignando variables

In [ ]:
string1 = "hola"
string2 =  "mundo"
string3 = string1 + string2  # concatenando
print(string3)               # si olvidamos cerrar el paréntesis se producirá un Error de sintaxis

Un enlace a un post que muestra múltiples formas de decir 'Hola mundo' en Python.

[Hola mundo en Python](https://altocodigo.blogspot.com/2018/06/1-hola-mundo-en-python.html)

## Error al concatenar con un número

In [ ]:
#"Vuelo " + 505               # TypeError: can only concatenate str (not "int") to str

In [ ]:
"Vuelo " + str(505)           # la función str() convierte un número en cadena

### Mi nombre y mi edad
A la edad la tenemos que añadir la función `str()` que convierte un número en cadena (stream).

In [3]:
nombre = "Alex"
edad = 30
print("Me llamo " + nombre + " y tengo " + str(edad) + " años.")

Me llamo Alex y tengo 30 años

##### Otra forma de escribirlo más moderna, con formato

In [4]:
print(f"Me llamo {nombre} y tengo {edad} años.")

Me llamo Alex y tengo 30 años.

## Comparando
* = &nbsp;&nbsp;&nbsp;&nbsp;se usa para asignar un valor a una variable
* == &nbsp;&nbsp;se usa para comparar dos valores o variables, formándose una expresión lógica

In [ ]:
2 + 8 == 10          #True

In [ ]:
123 == '123'         #False

In [ ]:
'Hola' == "Hola"     #True

In [ ]:
"A" + "B" == "AB"    #True