# Pasar datos de Excel a Python como Pandas DataFrame

## Importar datos de archivos de  Excel a Python  
Leer un archivo, sinónimos:
- Leer
- Cargar
- Importar
- Subir  

Significa pasar los archivos de un formato a otro formato que Python puede entender usando Panda DataFrame.

### Caso 1 Datos en Hoja1 con nombre de columna

Importar un archivo con formato Excel a un archivo que Python pueda leer. Esto lo hacemos con la librería Pandas.  
Función: pd.read_excel(ruta)  
La ruta es el path donde está ubicado el archivo excel.

In [7]:
import pandas as pd             # importamos pandas
path = 'excel/aeropuertos.xlsx' # establecemos la ruta del archivo
pd.read_excel(path)

          Aeropuerto CodigoIATA  Pasajeros  Mercancía  Insular   Año
0             MADRID        MAD   61734944  560039136    False  1931
1          BARCELONA        BCN   52688455  176797909    False  1927
2  PALMA DE MALLORCA        PMI   29721142    9021606     True  1960
3             MALAGA        AGP   19858656    3080119    False  1946
4           ALICANTE        ALC   15048240    4032300    False  1951
5       GRAN CANARIA        LPA   13261228   19727786     True  1933
6       TENERIFE SUR        TFS   11168707    2193378     True  1978
7           VALENCIA        VLC    8539579   14515842    False  1930
8              IBIZA        IBZ    8155626    1434695     True  1949
9            SEVILLA        SVQ    7544357    9891790    False  1946

### Caso 2 Datos en otra Hoja

In [8]:
pd.read_excel(path,
             sheet_name='Hoja2')

          Multirriesgo  Seguro_Directo   Cartera
0                Hogar        0.038112  0.018106
1             Comercio       -0.025291  0.000172
2          Comunidades        0.029530  0.014900
3           Industrial        0.068692 -0.000488
4  Otros Multirriesgos        0.072676  0.000367

### Caso 3 Sin nombres de columnas

In [11]:
pd.read_excel(path,
             sheet_name='Hoja3',
             header=None,
             names=['Resultado','marzo2020','marzo2021'])

              Resultado    marzo2020    marzo2021
0                  Vida   548.341259   649.276349
1           Automóviles   294.331122   370.994886
2         Multirriesgos    60.247159   -25.244685
3                 Salud   125.130473   138.934177
4         Resto No Vida   252.955463   356.637499
5         Total No Vida   732.664217   841.321877
6  Total Vida y No Vida  1281.005476  1490.598226

Conviene guardar los DataFrame en una variable para futuros análisis.