<a href="https://colab.research.google.com/github/financieras/pyCourse/blob/main/jupyter/resumen/010_hola_mundo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hola mundo

In [ ]:
print("Hello world!")

In [ ]:
"Hola mundo"

In [ ]:
# esto es un comentario
print('New York')   # también podemos usar comillas simples

# Tipos de datos

In [ ]:
print(25)    # este es un número entero de tipo int (integer)

In [ ]:
type(25)     # función que nos dice el tipo de dato

In [ ]:
print(3.8)   # este es un número decimal de tipo float
type (3.8)   # en español se llaman "números de coma flotante"

In [ ]:
print("Madrid")        # esto es un string, una cadena alfanumérica
print("Madrid 2036")   # esto es otro string
type('Madrid 2036')

In [ ]:
print("5")
type("5")

In [ ]:
5 >= 2   # Operador lógico >, analiza la condición y da True o False

In [ ]:
type(True)   # Boolean

In [ ]:
type(3<2)

In [ ]:
2 == 3    # Operador lógico de igualdad

In [ ]:
type(2==3)   # primero se evalúa la condición lógica que da False

## Diferencia entre integer y string

In [ ]:
print(5 == '5')

# Operaciones algebráicas

In [ ]:
print(2 + 3)   # suma
print(10 + 5)

In [ ]:
4 - 6   # resta

In [ ]:
9 * 3    # no se muestra ya que no lleva print
12 / 4   # solo se muestra el último. Al dividir siempre da un float

In [ ]:
print(9 * 3)     # producto
print(11 / 3)    # división
print(11 // 3)   # división entera (no es redondeo)
print(11 % 3)    # resto (módulo)
print(2 ** 3)    # potencias
print(pow(2,3))  # potencias

# El operador punto
Se aplican métodos a objetos.


objeto.método()

In [ ]:
"Hola mundo".upper()   # todo a mayúsculas

In [ ]:
"Vacaciones en Roma".lower()   # todo a minusculas

In [ ]:
usuario = 'ana ruiz'   # creamos una variable
usuario.title()        # las primeras letras a mayúsculas y las demás a minúculas

In [ ]:
profesion = 'abogado laboralista'
profesion.count('a')    # contar caracteres

In [ ]:
cargo = 'encargado'
cargo.replace('o', 'a')   # reemplazar caracteres

# Variables

In [ ]:
x = 5
print(x)
print(2*x+7)
2*(+x7)        # los paréntesis tienen prioridad

In [ ]:
nombre = "Ana"
apellido = "Ruiz"
nombre + apellido   # concatenando dos strings

In [ ]:
nombre + " " + apellido   # añadimos un espacio en medio

In [ ]:
# el sistema f para dar formato
edad = 25
print(f"Me llamo {nombre} {apellido} y mañana cumpliré {edad+1} años.")

## Contadores
Un contador es una variable que se va incrementando, habitualmente de uno en uno.

In [ ]:
vidas = 3                  # comenzamos un juego con 3 vidas
print(vidas)

vidas = vidas + 1          # si en el juego ganamos una vida podemos incrementar su valor en uno
print(vidas)

vidas += 1                 # esta es una forma abreviada de escribir lo mismo que antes. Incrementa las vidas en una más.
print(vidas)

vidas -= 1                 # perdemos una vida. Es una forma abreviada de escribir   vidas = vidas - 1
print(vidas)

# Concatenar

In [ ]:
a = "Buenos "
b = "Aires"
print(a + b + " es la capital de Argentina.")

In [ ]:
print("1" + "2")

In [ ]:
#print( "Tengo" + 15)        # ERROR
print("Tengo " + str(15+1))
print(f"Tengo {15+1}")

# Imprimir

In [ ]:
nombre = "Ana"
edad = 14
print("Hola, me llamo " + nombre + " y tengo " + str(edad) +" años.")
print("Hola, me llamo", nombre, "y tengo", edad, "años.")
print(f"Hola, me llamo {nombre} y tengo {edad} años.")

# Introduciendo datos con ```input()```
Con la función `input` conseguimos capturar lo que el usuario escriba por teclado.  
Input siempre captura un **string**. Si introducimos un número 5 lo que captura es '5'.

In [ ]:
nombre = input("¿Cómo te llamas? ")          # recogemos el nombre en una variable, esto hace que se recuerde y se pueda usar luego
nota = float(input("Nota del examen: "))     # float convierte el str a un número con decimales. Si fuera int convierte a un entero.
print(f"Buenos días {nombre}, en el examen tienes una nota de {nota}.")